
.navbar{
    position: absolute;
    width: 100%;
    display: flex;
    top: 45px;
    z-index: 1;
    justify-content: space-between;
    padding-left: 8%;
    align-items: flex-start;
}
.left-nav{  
      display: flex;
    align-items: center;}
.nav1{
    margin-left: 122px;
    margin-right: 49px;
}
.section1{
    background-repeat: no-repeat;
    width: 100%;
   
    background-size: contain;
    background-image: url('images/header.jpg');
    z-index: -1;
    top: 0;
    position: relative;
}
.section1 img{
    width: 100%;
}
.nav2 {
    display: flex;
    width: 252px;

    height: 43px;
    padding: 14.623px 65px 14.425px 187px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
}
.nav2 div {
    color: #FFF;
text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
font-family: Gilroy-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 16.8px */
}
.nav2 div span{
    display: block;
    width: 47px;
}
.nav2 div select{
    color: #FFF;
    text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    background-color: transparent;
    border: none ;
}
.nav2 .menu3 select option{
    display: flex;
    width: 252px;
    height: 43px;
    padding: 14.623px 65px 14.425px 187px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    color: black;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.16);
}
.nav3{
    margin-right: 8%;
    display: flex;
    color: white;
        display: flex;
    color: white;

    justify-content: flex-end;
}
.nav3 .wishlist{
    display: flex;
width: 137px;
margin-right: 15px;
height: 43px;
padding: 0px 25px 0px 102px;
justify-content: flex-end;
align-items: center;
flex-shrink: 0;
border-radius: 8px;
background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: -2.418426275253296px -2.418426275253296px 120.92131805419922px 0px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(5px);
}
.nav3 .sign{
    width: 99px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 8px;
    align-items: center;
    display: flex;
    background: rgba(255, 255, 255, 0.16);
    justify-content: center;
}
.nav3 .wishlist span{
    display: block;
    width: 10px;
height: 10px;
flex-shrink: 0;
border-radius: 12.5px;
margin-left: 18px;
background: #E24D4D;
box-shadow: -1.2999999523162842px 1.2999999523162842px 4px 0px rgba(248, 0, 0, 0.40);
}
.nav3 .nav-3{
    display: flex;
    flex-direction: column;

}
.nav-3 .wish-list{
    display: flex;
    position: relative;
    right: 41%;
    bottom: 0%;
}
.nav-3 .lists{
    overflow: auto;
    width: 256px;
    /* position: absolute; */
    top: 62px;
    right: 25%;
    height: 211px;
    border-radius: 6.977px;
    background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    box-shadow: -2.1092333793640137px -2.1092333793640137px 105.46166229248047px 0px rgba(255, 255, 255, 0.02) inset;
    backdrop-filter: blur(4.360755920410156px);
}


.nav-3 .lists .list{
    display: flex;
    width: 215px;
    height: 41px;
    margin: 12px;
    border-radius: 2.751px;
    background: #1F1F1F;
}
.nav-3 .two{
    display: flex;
}
.nav-3 .lists .list .image {
    width: 70px;
    height: 41px;
}
.nav-3 .lists .list .image img{
    width: 100%;
}
.nav-3 .list .name{
    display: flex;
    align-items: center;
    margin-left: 14px;
}
.nav-3 .list .delete{
    margin-left: 27px;
    display: flex;
    align-items: center;
}
.close{
    position: relative;
    top: 26px;
    right: 9%;
    z-index: 2;
}
 .close span{
    display: block;
    display: flex;
width: 19px;
height: 19px;
padding: 5.225px 4.275px 4.275px 5.225px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 19px;
background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
box-shadow: -1.1487524509429932px -1.1487524509429932px 57.43762969970703px 0px rgba(255, 255, 255, 0.02) inset;
backdrop-filter: blur(2.375px);
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 9%;
    top: 15%;
  
    justify-content: center;
}
.volume .voice{
    position: absolute;
}